body{
  margin:0 auto;
  width:800px;
  background:gray;
}
#content {
  background:white;
  margin:10px;
  padding:10px;
  border-radius:5px;
  margin-top:0px;
}
table, tr, td, th{
  width:300px;
  border:1px solid black;
  border-collapse:collapse;
  margin-top:5px;
}
th, td {
  padding:5px;
  text-align:center;
  color:green;
}
th {
  background:green;
  color:white;
}
h1 {
  text-decoration:none;
  color:#000;
  font-family:;
  margin-bottom:0px;
}
a {
  color:green;
  text-decoration:none;
}

